@font-face {
  font-family: 'PixelAzureBonds';
  src: url('./fonts/PixelAzureBonds.eot'); /* IE9 Compat Modes */
  src: url('./fonts/PixelAzureBonds.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */


    url('./fonts/PixelAzureBonds.ttf') format('truetype'), /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
body{
   font-family:PixelAzureBonds
   font-size: 12px;
}
