li {list-style: none;}
body { background-color: black; }

div#menu {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
div#menu li {
    background-color: lime;
    border-bottom: 5px solid #black;
    display: block;
    width: 150px;
    height: 30px;
    margin: 2px;
    float: left; /* elementi su singola riga */
}
  
div#menu li a {
    color: black;
    display: block;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
}
  
div#menu li.active, ul#menu li:hover {
    background-color: black;
    border-bottom: 5px solid lime;
}


div#menu li ul
{
    display: none
}


div#menu li:hover ul
{
    display: block;
    position: absolute;
    z-index:1;
    width:150px;
    padding: 0;
    margin: 0 0 0 -1px;
    border:1px solid black;
    background: white;
}
div#menu li li   { border:none; width:150px; } 
div#menu li li a { padding:2px 2px 2px 10px; }
